{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "auto",
  "printWidth": 170,
  "trimTrailingWhitespace": true,
  "ignorePath": ".gitignore"
}
